name: docker-utils
services:
  # Enter the Linux VM created by Docker Desktop
  nsenter: 
    # use: docker compose run -it --rm nsenter
    image: alpine
    container_name: nsenter
    pid: host
    privileged: true
    command: nsenter --target 1 --mount --uts --ipc --net sh

volumes:
  dive: